.header-carousel {
    margin-bottom: 250px;
    font-size: 13px;
}

.content{
    display: flex;
    justify-content: center;
}

.triage{
    display: flex;
    justify-content: space-between;
}

.car-result{
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    border-bottom: rgb(238, 237, 237) solid 1px;
}

.car-view{
    display: flex;
}

.car-model{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.car-model>img{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.cpn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-details{
    margin-left: 75px;
    padding-top: 20px;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.book-pay-div{
    display: flex;
    flex: 1;
    align-items: center;
}

.book-pay{
    margin-top: -30px;
    background-color: rgb(40, 170, 40);
    color: white;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.footcentrage{
    display: flex;
    justify-content: center;
}

#footer{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 9px;
}

#footer img{
    width: 100px;
    height: 75px;
}

#footer a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 991px) {
    .car-desc{
        display : none;
    }
    
    .book-pay-div{
        display: flex;
        flex: 1;
        justify-content: right;
    }
}